body,input,li,ul,p,h1,h2,h3,h4,h5,h6{  margin:0;  padding: 0;  list-style: none;}
body{ font-family: "Microsoft Yahei",verdan,Arial;  font-size: 12px;  color: #000;}
img {border: 0;}
span {display: block;}
* {box-sizing: border-box;}

/* 背景图片 */
.section:nth-child(1) {
    background-size: cover;
    background-image: url("../images/tu2.jpg");
}

.section:nth-child(2) {
    background-size: cover;
    background-image: url("../images/tu.jpg");
}

.section:nth-child(3) {
    background-size: cover;
    background-image: url("../images/tu3.jpg");
}
.section:nth-child(4) {
    background-size: cover;
    background-image: url("../images/bg6.png");
}

.section:nth-child(5) {
    background-size: cover;
    background-image: url("../images/bg6.png");
}
.section:nth-child(6) {
    background-size: cover;
    background-image: url("../images/bg6.png");
}


.fp-tableCell {
    display: block;
}

.section #title {
    color: #FFBB02;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
}
/*首页*/
#shouye {
    width: 100%;
    padding: 100px;
}

#shouye .logo {
    width: 200px;
    height: 60px;
    background-size: 200px;
}

#shouye .zuoyouming {
    width: 330px;
    height: 250px;
    background: #ffb900;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 10px;
    z-index: 1;
}
#shouye .border {
    width: 130px;
    height: 130px;
    border: 3px solid #FFD101;
    position: absolute;
    left: 800px;
    top: 170px;
}

#shouye .sekuai {
    width: 50px;
    height: 50px;
    background: #ffb900;
    position: absolute;
    left: 480px;
    bottom: 165px;
}
#shouye .zuoyouming span {
    display: block;
    margin-bottom: 10px;
}

#shouye .zuoyouming .china {
    font-size: 25px;
    color: #2D2202;
    font-weight: bold;
}

#shouye .zuoyouming .china-b {
    float: right;
}

#shouye .zuoyouming .yingwen {
    margin-top: 20px;
    padding-left: 40px;
    font-size: 20px;
    color: #fff;
    font-family: Arial;
    float: left;
}
#shouye .daohang {
    width: 800px;
    height: auto;
    text-align: center;
    margin-top:-120px;
    margin-left:195px;
}
#shouye .daohang .titles span {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    float: left;
    padding:10px 40px;
}

#shouye .daohang .titles span.active {
    padding: 8px 0;
    border: 2px solid #ffb900;
}

/* 关于我 */
#about {
    width: 100%;
    padding: 150px 200px;
}

#about .zhiwei .wrapper {
    width: 120px;
    height: 120px;
    border: 5px solid #ffb900;
    border-right: none;
}

#about .zhiwei .content {
    color: #fff;
    font-size: 18px;
    position: absolute;
    left: 220px;
    top: 185px;
}

#about .zhiwei .border1, #about .zhiwei .border2 {
    width: 5px;
    height: 20px;
    background: #ffb900;
}

#about .zhiwei .border1 {
    position: absolute;
    left: 315px;
    top: 165px;
}

#about .zhiwei .border2 {
    position: absolute;
    left: 315px;
    top: 264px;
}

#about .right .wrapper {
    width: 300px;
    height: 300px;
    border: 3px solid #585B6A;
    position: absolute;
    top: 200px;
    right: 220px;
}

#about .right .touxiang {
    width: 250px;
    height: 250px;
    background: #fff;
    position: absolute;
    top: 225px;
    right: 200px;
}

#about .jieshao {
    padding-top: 20px;
}

#about .jieshao span {
    padding-top: 20px;
    font-size: 18px;
    color: #fff;
}
/* 个人技能 */
#jineng {
    width: 100%;
    padding: 80px 0px;
}

#jineng ul {
    width: 600px;
    height: 360px;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

#jineng ul .skill {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: relative;
    opacity: 0;
    transform: translateX(-120%);
}

#jineng ul .skill.html {
    transition: all 1s ease;
}

#jineng ul .skill.jquery {
    transition: all 1.5s ease;
}

#jineng ul .skill.js {
    transition: all 2s ease;
}

#jineng ul .skill.angular {
    transition: all 2.5s ease;
}

#jineng ul .skill.xiangying {
    transition: all 3s ease;
}

#jineng ul .skill.yidong {
    transition: all 3.5s ease;
}

#jineng ul li .name {
    width: 30%;
    height: 60px;
    color: #fff;
    font-size: 20px;
    float: left;
}

#jineng ul li .biankuang {
    float: left;
    border: 2px solid #FAED1B;
    width: 65%;
    height: 17px;
    border-radius: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 180px;
    overflow: hidden;
}

#jineng ul li.skill .percent {
    height: 13px;
    background: #FAED1B;
}

#jineng ul li.html .percent {
    width: 0;
    transition: width 3s ease .5s;
}

#jineng ul li.jquery .percent {
    width: 0;
    transition: width 3s ease .5s;
}

#jineng ul li.js .percent {
    width: 0;
    transition: width 3s ease .5s;
}

#jineng ul li.angular .percent {
    width: 0;
    transition: width 3s ease .5s;
}

#jineng ul li.xiangying .percent {
    width: 0;
    transition: width 3s ease .5s;
}

#jineng ul li.yidong .percent {
    width: 0;
    transition: width 3s ease .5s;
}

#section3.active #jineng ul .skill {
    opacity: 1;
    transform: translateX(0%);
}

#section3.active #jineng ul li.html .percent {
    width: 90%;
}

#section3.active #jineng ul li.jquery .percent {
    width: 80%;
}

#section3.active #jineng ul li.js .percent {
    width: 77%;
}

#section3.active #jineng ul li.angular .percent {
    width: 65%;
}

#section3.active #jineng ul li.xiangying .percent {
    width: 72%;
}

#section3.active #jineng ul li.yidong .percent {
    width: 70%;
}
/* 工作展示 */
@keyframes quan {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1.3, 1.3);
    }
    50% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1.3, 1.3);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes cards2j {
    0% {
        top: 200px;
        left: 250px;
        opacity: 0;
    }
    100% {
        left: 70px;
        top: 50px;
        opacity: 1;
    }
}

@keyframes cards2z {
    0% {
        left: 70px;
        top: 50px;
        opacity: 1;
    }
    50% {
        top: 200px;
        left: 250px;
        opacity: 0;
    }
}

@keyframes cards3j {
    0% {
        bottom: 200px;
        left: 250px;
        opacity: 0;
    }
    100% {
        left: 70px;
        bottom: 50px;
        opacity: 1;
    }
}

@keyframes cards3z {
    0% {
        left: 70px;
        bottom: 50px;
        opacity: 1;
    }
    50% {
        bottom: 200px;
        left: 250px;
        opacity: 0;
    }
}

@keyframes cards4j {
    0% {
        top: 200px;
        right: 250px;
        opacity: 0;
    }
    100% {
        right: 70px;
        top: 50px;
        opacity: 1;
    }
}

@keyframes cards4z {
    0% {
        right: 70px;
        top: 50px;
        opacity: 1;
    }
    50% {
        top: 200px;
        right: 250px;
        opacity: 0;
    }
}

@keyframes cards5j {
    0% {
        bottom: 200px;
        right: 250px;
        opacity: 0;
    }
    100% {
        right: 70px;
        bottom: 50px;
        opacity: 1;
    }
}

@keyframes cards5z {
    0% {
        right: 70px;
        bottom: 50px;
        opacity: 1;
    }
    50% {
        bottom: 200px;
        right: 250px;
        opacity: 0;
    }
}

#gongzuo {
    width: 100%;
    /* .cards{
          width:600px;
          height: 400px;
          border: 1px solid #fff;
          margin: 0 auto;
          margin-top: 50px;
      } */
}

#gongzuo .card .card-content p {
    font-size: 15px;
}

#gongzuo .cards1 {
    width: 290px;
    height: 290px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#gongzuo .cards1 .quan {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 3px solid #ffb900;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#gongzuo .cards1 .info {
    font-size: 14px;
    line-height: 30px;
    height: 220px;
    width: 220px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#gongzuo .cards1 .info p {
    position: absolute;
    left: 40px;
    line-height: 23px;
}

#gongzuo .cards1 .info p:nth-child(1) {
    top: 37px;
    display: inline-block;
    width: 150px;
}

#gongzuo .cards1 .info p:nth-child(2) {
    top: 80px;
}

#gongzuo .cards1 .info p:nth-child(3) {
    top: 105px;
}

#gongzuo .cards1 .info p:nth-child(4) {
    top: 125px;
}

#gongzuo .cards2 {
    width: 300px;
    position: absolute;
    animation: cards2z 2s ease;
}

#gongzuo .cards3 {
    width: 300px;
    position: absolute;
    animation: cards3z 2s ease;
}

#gongzuo .cards4 {
    width: 300px;
    position: absolute;
    animation: cards4z 2s ease;
}

#gongzuo .cards5 {
    width: 300px;
    position: absolute;
    animation: cards5z 2s ease;
}

#section4.active #gongzuo .cards1 .quan {
    animation: quan 8s ease infinite;
}

#section4.active #gongzuo .cards2 {
    animation: cards2j 2s ease both;
}

#section4.active #gongzuo .cards3 {
    animation: cards3j 2s ease both;
}

#section4.active #gongzuo .cards4 {
    animation: cards4j 2s ease both;
}

#section4.active #gongzuo .cards5 {
    animation: cards5j 2s ease both;
}
/*作品展示*/

.wra{
    width:1000px;
    margin:0 auto;
    padding-top: 30px;
}
.slid{
    width: 100%;
    height: 100%;
}
#zuopin {
    width: 100%;
    padding:35px 170px;
}

#zuopin .slid a {
    display: block;
    height: 200px;
    width: 200px;
    margin: 20px 40px 20px 0;
    float: left;
}
.slid img{
    width: 200px;
    height:200px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.slid:hover img{
    transform: scale(1.2) translateX(5px) rotate(5deg);
}
/* 联系方式 */
#contact {
    padding: 100px 0;
}

#contact .wrapper {
    width: 600px;
    height: 385px;
    position: relative;
    margin: auto;
}

#contact .wrapper-t {
    width: 600px;
    height: 155px;
    border: 5px solid #ffb900;
    position: absolute;
    top: 0;
    border-bottom: 0;
}

#contact .wrapper-b {
    width: 600px;
    height: 80px;
    border: 5px solid #ffb900;
    position: absolute;
    bottom: 0;
    border-top: 0;
}

#contact .con {
    width: 600px;
    height: 385px;
    position: relative;
}

#contact .con .top {
    position: absolute;
    top: 80px;
    font-size: 30px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 0 145px;
    font-weight: bold;
}

#contact .con .top span {
    display: inline-block;
}

#contact .contact {
    color: #ffb900;
}

#contact .forme {
    color: #fff;
}

#contact .con .fangshi {
    color: #ffb900;
    font-size: 20px;
    bottom: 80px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 145px;
}

#contact .con .fangshi span {
    padding-bottom: 10px;
}
